<html>
  <head>
    <title>File server is running</title>
  </head>
  <body>
    <h1>File server is running</h1>

    <p>
      Your WebDAV file server for username {{ username }} is running. The
      URL to enter into a WebDAV client is:
    </p>

    <pre>{{ base_url }}{{ path_prefix }}/{{ username }}</pre>

    <p>
      For instructions on how to use the file server, see
      <a href="https://rsp.lsst.io/guides/notebooks/extfileaccess/webdav/">the
      rsp.lsst.io documentation</a>.
    </p>

    <p>
      If you make no requests for {{ timeout | format_timedelta }}, the
      file server will shut down and you will need to return to
      <a href="{{ base_url }}{{ path_prefix }}">this page</a> to start it
      again.
    </p>
  </body>
</html>
