<html>
<head>
<title>
User Fileserver Created
</title>
</head>
<h1>
Your WebDAV fileserver is now ready.
</h1>

Connect your WebDAV client to this server with:
<ul>
<li><strong>Your Server address:</strong> <a href="{{ base_url }}{{ path_prefix }}/{{ username }}">{{ base_url }}{{ path_prefix }}/{{ username }}</a>
<li><strong>Password:</strong> A security token with <tt>write:files</tt> scope.
</ul>

Consult <a href="https://rsp.lsst.io/guides/api/index.html#webdav">the RSP WebDAV docs</a> for more detailed instructions.

</body>
</html>
