<script>
function selectDropdown() {
  document.getElementById('{{ dropdown_sentinel }}').checked = true;
}
</script>
<style>
  td {
    border: 1px solid black;
    padding: 2%;
    vertical-align: top;
  }
  .radio label,
  .checkbox label {
    padding-left: 0px;
  }
</style>
<table width="100%">
<tr>
  <th>Image</th>
  <th>Options</th>
</tr>
<tr>
<td width="50%">
  <div class="radio radio-inline">
{%- for i in cached_images %}
    <input type="radio" name="image_list" id="image{{ loop.index }}" value="{{ i.reference }}"{% if loop.first %} checked{% endif %}>
    <label for="image{{ loop.index }}">{{ i.name }}</label><br />
{%- endfor %}

    <input type="radio" name="image_list" id="{{ dropdown_sentinel }}" value="{{ dropdown_sentinel }}"{% if not cached_images %} checked{% endif %}>
    <label for="{{ dropdown_sentinel }}">
      Select uncached image (slower start):
    </label><br />

    <select name="image_dropdown" onchange="selectDropdown()">
{%- for i in all_images %}
      <option value="{{ i.reference }}">{{ i.name }}</option>
{%- endfor %}
    </select>
  </div>
</td>
<td width="50%">
  <div class="radio radio-inline">
{%- for definition in sizes %}
    <input type="radio" name="size" id="{{ definition.size.value }}" value="{{ definition.size.value }}"{% if loop.first %} checked{% endif %}>
    <label for="{{ definition.size.value }}">
      {{ definition }}
    </label><br />
{%- endfor %}
  </div>
  <br />
  <br />
  <div class="checkbox checkbox-inline">
    <input type="checkbox" id="enable_debug"
     name="enable_debug" value="false">
    <label for="enable_debug">Enable debug logs</label><br />

    <input type="checkbox" id="reset_user_env"
     name="reset_user_env" value="false">
    <label for="reset_user_env">
      Reset user environment: relocate .cache, .conda, .jupyter, .local,
      and .user_setups
    </label><br />
  </div>
</td>
</tr>
</table>
