[project]
title = "Nublado"
copyright = "2022-2023 Association of Universities for Research in Astronomy, Inc. (AURA)"

[project.openapi]
openapi_path = "_static/openapi.json"
doc_path = "client/rest-api"

[project.openapi.generator]
function = "nublado.controller.main:create_openapi"

[project.python]
package = "nublado"

[sphinx]
disable_primary_sidebars = [
    "**/index",
    "changelog",
]
extensions = [
    "sphinx_click",
    "sphinx_diagrams",
    "sphinxcontrib.autodoc_pydantic",
]
nitpicky = true
nitpick_ignore = [
    # Modules that do not provide intersphinx documentation.
    ["py:class", "dataclasses_avroschema.main.AvroModel"],
    ["py:class", "dataclasses_avroschema.pydantic.main.AvroBaseModel"],
    ["py:class", "httpx_sse._api.EventSource"],
    ["py:class", "pydantic_core._pydantic_core.ValidationError"],
    ["py:class", "respx.router.Router"],
    ["py:class", "sse_starlette.ServerSentEvent"],
    # traitlets does provide intersphinx, but the documentation generates some
    # reference to this undocumented type.
    ["py:class", "traitlets.traitlets.HasDescriptors"],
    # See https://github.com/sphinx-doc/sphinx/issues/13178
    ["py:class", "pathlib._local.Path"],
    # Bug in Sphinx with type declarations
    ["py:class", "safir.pydantic._types.TypeAliasType"],
]
nitpick_ignore_regex = [
    ["py:class", "kubernetes_asyncio\\.client\\.models\\..*"],
    # Bug in autodoc_pydantic.
    ["py:obj", ".*\\.all fields"],
]
rst_epilog_file = "_rst_epilog.rst"
python_api_dir = "dev/api/contents"

[sphinx.intersphinx.projects]
jupyerhub = "https://jupyterhub.readthedocs.io/en/stable"
python = "https://docs.python.org/3.13"  # Union gets weird in 3.14
rubin-repertoire = "https://repertoire.lsst.io"
safir = "https://safir.lsst.io"
semver = "https://python-semver.readthedocs.io/en/stable"
structlog = "https://www.structlog.org/en/stable"
tornado = "https://www.tornadoweb.org/en/stable"
traitlets = "https://traitlets.readthedocs.io/en/stable"
websockets = "https://websockets.readthedocs.io/en/stable"

[sphinx.linkcheck]
ignore = [
    # Generate redirects for authentication
    '^https://github\.com/settings/developers$',
    '^https://github\.com/.*/issues/new$',
    # Sphinx is now trying to resolve URLs in examples because it doesn't
    # understand Annotated
    "^http://nublado-ribbon.nb-ribbon:8888",
]
